/* .ID{
    color: black;
    width: 70%;
    height: 200px ;
    font-size: 400px;
}

.ID2{
    color: blue;
    width: 50%;
    height: 20%;
}

.P{
    height: 50%;
}

.ID3{
    width: 200px;
    height: 50%;

} */