/* input[type="number"]{
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}

input[type="text"]{
    border-radius: 5px;
    background-color: green;
    color: white;
}

input[type="e-mail"]{
    background-color: green;
    color: white;
    border-radius: 5px;
}

input[type="password"]{
    border-radius: 5px;
    background-color: green;
    color: white;
} */