/* .ul{
    list-style-type: circle ;
    list-style-type: georgian;
    list-style-position: inside ;
    list-style-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbgMjUpA6uinF9OdhzhRZ055Uhh5TXuMcFsw&s);
}

.ul1{
    list-style-type: georgian;
    list-style-position: outside;
}

.ul2{
    list-style-type: circle;
    list-style-position: outside;
}

.ul3{
    list-style-type: lower-alpha;
    list-style-position: outside;
}

.ul4{
    list-style-type: armenian;
}

.ul5{
    list-style-type: lower-greek;
    list-style-position: outside;
}

.ul6{
    list-style-type: lower-latin;
    list-style-position: outside;
}

.ul7{
    list-style-type:lower-roman;
    list-style-position: outside;
}

.ul8{
    list-style-type: square;
    list-style-position: outside;
}

.ul9{
    list-style-type:initial;
    list-style-position: outside;
}

.ul10{
    list-style-type:decimal-leading-zero;
    list-style-position: outside;
}

.ul11{
    list-style-type: none;
    list-style-position: inside;
}
 */
