/* input[type="text"]{
    font-style: italic;
     background-color: rgb(27, 231, 231);
     color: white;
     border-radius: 5px;
    outline: none;
    }


input[type="mail"]{
    font-style: italic;
    background-color: rgb(27, 231, 231);
    color: white;
    border-radius: 5px;
    outline: none;
}

input[type="password"]{
    font-style: italic;
    background-color: rgb(27, 231, 231);
    color: white;
    border-radius: 5px;
    outline: none;
}

input[type="password1"]{
    font-style: italic;
    background-color: rgb(27, 231, 231);
    color: white;
    border-radius: 5px;
    outline: none;
} */